{% extends "base.html" %}
{% block title %}CALCULO DE DIRECCIONES{% endblock %}
{% block content %}
<br>
<div class="card col-md-12">
    <div class="card-body">
        <h2>Consultar tiempo</h2>
        <form method="POST" action="/evaluar">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" name="origin" placeholder="Direccion de origen">
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="target" placeholder="Direccion de destino">
                </div>
                <div class="col">
                    <input type="number" class="form-control" name="age" step="1" placeholder="Edad repartidor" min="1">
                </div>
                <div class="col">
                    <input type="number" class="form-control" name="rate" step="0.1" min="1"
                        placeholder="Calificacion repartidor">
                </div>
                <div class="col">
                    <button class="form-control btn btn-primary" type="submit">Consultar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<div class="col-md-12">
    {% if response.error == False %}
    <h2>Operaciones realizadas</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Edad repartidor</th>
                <th scope="col">Calificacion</th>
                <th scope="col">Origen</th>
                <th scope="col">Destino</th>
                <th scope="col">Distancia total</th>
                <th scope="col">Prediccion de tiempo (MIN)</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% if operations == False %}
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            {% else %}
            {% for operation in response.operations %}
            <tr>
                <td>
                    {{ operation["id"] }}
                </td>
                <td>
                    {{ operation["agePartner"] }}
                </td>
                <td>
                    {{ operation["rating"] }}
                </td>
                <td>
                    {{ operation["origin"] }}
                </td>
                <td>
                    {{ operation["target"] }}
                </td>
                <td>
                    {{ operation["totalDistance"] }}
                </td>
                <td>
                    {{ operation["timePredicted"] }}
                </td>
                <td>
                    {{ operation["date"] }}
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
        {% else %}
        <h4>{{ response.error }}</h4>
        {% endif %}
    </table>
</div>
{% endblock %}